# NestJS
PORT=3333
HMS_SERVER_APP_PORT=3333
HMS_SERVER_APP_MODE=dev

# PostgreSQL
DATABASE_URL=postgresql://postgres:postgres@localhost:5433/postgres

# WhatsApp
WHATSAPP_API_TOKEN=your_token_here
WHATSAPP_PHONE_NUMBER_ID=your_phone_number_id_here
WHATSAPP_WEBHOOK_VERIFY_TOKEN=your_webhook_verify_token_here
WHATSAPP_APP_SECRET=your_app_secret_here


